$bgColor = #374550
$textColor = #F8F8F6
$accentColor = desaturate(lighten($bgColor, 50%), 50%)
$dangerColor = #E54A5C
$successColor = #1AC98E
$pagePadding = 30px
$fontSize = 14px
$borderRadius = 3px

* { box-sizing: border-box }

body
  font-family: 'Open Sans', sans-serif
  font-size: $fontSize
  background: $bgColor
  color: $textColor

.page
  width: 100%
  max-width: 550px
  margin: 80px auto
  padding: $pagePadding
  border: 1px solid $accentColor
  border-radius: $borderRadius

_floatingHeaderPadding = 10px
.floating-header
  display: inline-block
  margin-left: -(_floatingHeaderPadding)
  margin-top: -(22px + $pagePadding)
  padding: 0 _floatingHeaderPadding
  font-size: 2em
  background: $bgColor

.label
  display: block
  margin-bottom: .5em
  font-weight: bold

.text-field
  width: 100%
  padding: .5em
  border: 1px solid $accentColor
  font-size: 1em
  background: lighten($bgColor, 15%)
  color: $textColor
  border-radius: $borderRadius

.field
  margin-bottom: 1.5em

.choice-list
  margin: 0
  padding: 0
  margin-bottom: .5em

  li
    list-style: none
    margin-bottom: .25em

.button,
.link-button
  padding: 5px 10px
  margin-right: 1em
  border: 3px solid $textColor
  font-size: 1em
  font-weight: 500
  border-radius: $borderRadius
  background: transparent
  color: $textColor
  transition: 50ms ease-in-out

  &:active
    opacity .6

.link-button
  font-weight: regular
  text-decoration: underline
  border-color: transparent

.hidden { display: none }

.box
  padding: 10px 20px
  margin-bottom: 1.5em
  border-radius: $borderRadius
  border: 1px solid transparent

.validation
  background: $dangerColor
  border-color: desaturate(lighten($dangerColor, 50%), 50%)

.success
  background: $successColor
  border-color: desaturate(lighten($successColor, 50%), 50%)
